<config>
    <modules>
        <Custom_Restapi_OrderDetails>
            <version>0.1.0.0</version>
        </Custom_Restapi_OrderDetails>
    </modules>

    <global>
    <models>
        <groups>
            <class>Custom_Restapi_OrderDetails_Model</class>
        </groups>
    </models>

    </global>
</config>